*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: LibreBasker;

}
:root{
    --violet: #e9dbfa;
    --blue: #2e88cd; 
    
}

@font-face{
    font-family: LibreBasker;
    src: url('../dist/fonts/LibreBaskerville-Regular.ttf');
}
.header{
    display: flex;
    font-family: LibreBasker;
    flex: 1;
    justify-content: space-between;
    color: purple;
    
    background-color: var(--violet);
    font-size: 38px;
    border-bottom: purple solid 2px;
    height: 12vh;
    padding-bottom: 15px;
    
}

#quest{
    color: var(--blue);
    font-weight: bolder;
}

#shift{
     height: 45px;
     width: 45px;
     align-self: center;
}
#checkmark-logo{
    height: 45px;
    width: 45px;
    margin-top: 25px;
    align-self: center;
}

#shift:hover{
    cursor: pointer;
    background-color: rgb(215, 212, 212);
    border-radius: 20%;
}

.header div {
    margin: auto;
}

.content{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    height: 100vh;
    width: 25vw;

}

.all-categories-title,.projects-title{
    font-size: 30px;
    color: purple;
}

.hidden{
    transition-delay: 3s;

  display: none;
}


.author{
    margin-top: auto;
}

.task-content{
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.task-title{
    font-size: 30px;
    color: blue;
    margin: 10px;
}

#add-task{

    color: gray;
    font-size: 12px;
}

.high{
    color: red;

}

.critical{
    color: blue;

}

dialog{
    background: lightblue;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.task-object{
    font-weight: bold;
}

.complete{
    font-size: 38px;
}

.sidebar{
    transition-duration: 2s;
  transition-delay: 3s;

}